<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/CustomScripts/bootbox.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>  
</head>

<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top mb-5 mt-0">
        @Html.ActionLink("TV-KOLLEN", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            @{ var idagDate = new DateTime(2018, 11, 11);
                <ul class="nav">
                    <li class="nav-item"><button type="button" class="btn btn-outline btn-dark" onclick="location.href='@Url.Action("Startpage", "TvPrograms", new { selectedDT = idagDate })'">Tablå</button></li>
                    <li class="nav-item"><button type="button" class="btn btn-outline btn-dark" onclick="location.href='@Url.Action("Index", "Home")'">Min Sida</button></li>
                </ul>
            }
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings">Konto: @Session["userName"]</a></li>
                <i class="fa fa-cog fa-fw fa-lg"></i>
                <li class="dropdown order-1">
                    <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Index", "LogInNow")'">Log In</button>

                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TV Kollen</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
   
</body>
</html>
