@model Uppgift4Interaktiva.Models.ViewModels.ChannelLists
@{
    ViewBag.Title = "Channel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function click10(name, channel, info) {


        bootbox.alert({
            message:
                '<h1>' + name + '</h1>' +
                '<b>Kanal: </b>' + channel + '</br>' +                
                '<b>Programinfo: </b></br>' + info,





            callback: function (result) {
                console.log('This was logged in the callback: ' + result);
            }
        });



    }
</script>
<h2 style="color:white; text-align:center;">@Model.AllShows.Select(x => x.Channel).First().ToString()</h2>
<br />
<br />

<div class="container-fluid">
    @{
        var idagDate = new DateTime(2018, 11, 11);

        for (int i = 0; i < 7; i++)

        { <div class="container">
                <div class="align-content-lg-center ">
                    <div class="card bg-light mb-3">
                        <div class="card-body text-center table-responsive-lg">

                            <table class="table">
                                <thread>
                                    <tr>
                                        <th>Namn</th>
                                        <th>Starttid</th>
                                        <th>Sluttid</th>
                                        <th>Datum</th>
                                    </tr>
                                </thread>
                                <tbody>

                                    @foreach (var item in Model.AllShows.Where(x => x.Start.Date == idagDate))
                                    {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Start.TimeOfDay
                                        </td>
                                        <td>
                                            @item.Stop.TimeOfDay
                                        </td>
                                        <td>
                                            @item.Start.ToShortDateString()
                                        </td>
                                        <td>
                                            <button type="button" id="testShow" class="btn btn-outline-dark" onclick="click10('@item.Name', '@item.Channel', '@item.Info')">
                                                Info
                                            </button>
                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table><br /><br />
                        </div>
                    </div>
                </div>
            </div>
            idagDate = idagDate.AddDays(1);
        }


    }

</div>
