@model Uppgift4Interaktiva.Models.TvProgram

@{
    ViewBag.Title = "Programinfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="container">

            <h2>Programinfo</h2>
            <div>
               

                <dl class="dl-horizontal" id="myTable">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Genre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Genre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Start)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Start)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Stop)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Stop)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Channel)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Channel)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Info)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Info)
                    </dd>

                </dl>
            </div>
            <p>              
                @Html.ActionLink("Stäng", "Startpage")
            </p>
        </div>
      