@model IEnumerable<Uppgift4Interaktiva.Models.TvProgram>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });


    
    });
</script>

<h2>Redigera</h2>


<p>
    @Html.ActionLink("Skapa Program", "Create")
</p><br><br>


        <div class="container">
            <h5>Filtera med fritext</h5>
            <input id="myInput" class="span 12 form-control" type="text" placeholder="Filtrera...">
            <br><br>
        </div>


<table class="table">
    <tr>
        <th>
            <a>Namn</a>          
        </th>
        <th>
            <a>Genre</a>
        </th>
        <th>
            <a>Starttid</a>
        </th>
        <th>
            <a>Sluttid</a>
        </th>
        <th>
            <a>Kanal</a>
        </th>
        <th>
            <a>Information</a>
        </th>
        <th></th>
    </tr>
    <tbody id="myTable">
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Channel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    @Html.ActionLink("Redigera", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Info", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Radera", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    </tbody>
</table>


