@model Uppgift4Interaktiva.Models.ViewModels.ChannelLists

@{
    ViewBag.Title = "Startpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">

    <div class="col-sm-12 col-md-3 ">
        <div class="card bg-light mb-3">
            <div class="card-header text-center"><h4>@Html.DisplayFor(modelItem => Model.SVT1[0].Channel)</h4></div>
            <div class="card-body text-center">
                <h5 class="card-title">Idag</h5>
                <table class="table">
                    <tr>
                        <th>
                            <p>Tid</p>
                        </th>
                        <th>
                            <p>Program</p>
                        </th>
                    </tr>
                    @foreach (var item in Model.SVT1)
                    {
                        <tr>
                            <td>
                                @item.Start.ToShortTimeString()
                            </td>
                            <td>
                                @item.Name
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-3 ">
        <div class="card bg-light mb-3">
            <div class="card-header text-center"><h4>@Html.DisplayFor(modelItem => Model.SVT2[0].Channel)</h4></div>
            <div class="card-body text-center">
                <h5 class="card-title">Idag</h5>
                <table class="table">
                    <tr>
                        <th>
                            <p>Tid</p>
                        </th>
                        <th>
                            <p>Program</p>
                        </th>
                    </tr>
                    @foreach (var item in Model.SVT2)
                    {
                        <tr>
                            <td>
                                @item.Start.ToShortTimeString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
        <div class="card bg-light mb-3">
            <div class="card-header text-center"><h4>@Html.DisplayFor(modelItem => Model.TV3[0].Channel)</h4></div>
            <div class="card-body text-center">
                <h5 class="card-title">Idag</h5>
                <table class="table">
                    <tr>
                        <th>
                            <p>Tid</p>
                        </th>
                        <th>
                            <p>Program</p>
                        </th>
                    </tr>
                    @foreach (var item in Model.TV3)
                    {
                        <tr>
                            <td>
                                @item.Start.ToShortTimeString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
        <div class="card bg-light mb-3">
            <div class="card-header text-center"><h4>@Html.DisplayFor(modelItem => Model.TV4[0].Channel)</h4></div>
            <div class="card-body text-center">
                <h5 class="card-title">Idag</h5>
                <table class="table">
                    <tr>
                        <th>
                            <p>Tid</p>
                        </th>
                        <th>
                            <p>Program</p>
                        </th>
                    </tr>
                    @foreach (var item in Model.TV4)
                    {
                        <tr>
                            <td>
                                @item.Start.ToShortTimeString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 ">
        <div class="card bg-light mb-3">
            <div class="card-header text-center"><h4></h4>@Html.DisplayFor(modelItem => Model.TV6[0].Channel)</div>
            <div class="card-body text-center">
                <h5 class="card-title">Idag</h5>
                <table class="table">
                    <tr>
                        <th>
                            <p>Tid</p>
                        </th>
                        <th>
                            <p>Program</p>
                        </th>
                    </tr>
                    @foreach (var item in Model.TV6)
                    {
                        <tr>
                            <td>
                                @item.Start.ToShortTimeString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>

