@model Uppgift4Interaktiva.Models.ViewModels.ChannelLists

@{
    ViewBag.Title = "Startpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    function click13(name, channel, time, info, date, endtime) {


        bootbox.alert({
            message:
                '<h1>' + name + '</h1>' +
                '<b>Kanal: </b>' + channel + '</br>' +
                '<b>Datum: </b>' + date + '</br>' +
                '<b>Börjar: </b>' + time + '</br>' +
                '<b>Slutar: </b>' + endtime + '</br></br>' +
                '<b>Programinfo: </b></br>' + '<small>' + info + '</small>',





            callback: function (result) {
                console.log('This was logged in the callback: ' + result);
            }
        });



    }
</script>
<div class="jumbotron">
    <h1>TV KOLLEN</h1>
    <p class="lead">Tv-kollen är internets bästa guide för vilka TVprogram som går!</p></br>
    <small>"Man känner sig pånyttfödd av TV-Kollen" - Leif GW Persson</small>
</div>

@{
    var idagDate = new DateTime(2018, 11, 11);
    var imorrnDate = new DateTime(2018, 11, 12);
    var tisDate = new DateTime(2018, 11, 13);
    var onsDate = new DateTime(2018, 11, 14);
    var torsDate = new DateTime(2018, 11, 15);
    var freDate = new DateTime(2018, 11, 16);
    var lorDate = new DateTime(2018, 11, 17);
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@Url.Action("Startpage", "TvPrograms", new { selectedDT = idagDate })">Idag <small>11/11</small></a>
                <a class="nav-item nav-link" href="@Url.Action("Startpage", "TvPrograms", new { selectedDT = imorrnDate })">Imorgon <small>12/11</small></a>
                <a class="nav-item nav-link" href="#">Tis <small>13/11</small></a>
                <a class="nav-item nav-link" href="#">Ons <small>14/11</small></a>
                <a class="nav-item nav-link" href="#">Tor <small>15/11</small></a>
                <a class="nav-item nav-link" href="#">Fre <small>16/11</small></a>
                <a class="nav-item nav-link" href="#">Lör <small>17/11</small></a>
            </div>

        </div>
    </nav>


    <div>
        <h1 class="text-center" id="dateHeader"></h1>
    </div>
    <script>
        var dt = @Model.ReturnDateTimeAsString(idagDate);
        $("#dateHeader").text(dt);
    </script>



}


    

    <div class="row">
        <div class="col-sm-12 col-md-4 ">
            <div class="card bg-light mb-3">
                <div class="card-header text-center"><img src="https://new.static.tv.nu/17274821" height="42" /></div>
                <div class="card-body text-center table-responsive-lg">

                    <table class="table">
                        @foreach (var item in Model.SVT1)
                        {
                            <tr>

                                <td>
                                    @item.Start.ToShortTimeString()
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <button type="button" id="testShow" class="btn btn-outline-dark" onclick="click13('@item.Name', '@item.Channel', '@item.Start.ToShortTimeString()', '@item.Info', '@item.Start.ToShortDateString()' , '@item.Stop.ToShortTimeString()')">
                                        Info
                                    </button>
                                </td>
                            </tr>

                        }
                    </table>

                </div>
            </div>
        </div>
        
        @if (Model.SVT2.Count == 0)
        {
        <div class="col-sm-12 col-md-4 ">
            <div class="card bg-light mb-3">
                <div class="card-header text-center"><img src="https://new.static.tv.nu/17274919" height="42" /></div>
                <div class="card-body text-center table-responsive-lg">
                    <table class="table">


                        @foreach (var item in Model.SVT2)
                        {
                            <tr>
                                <td>
                                    @item.Start.ToShortTimeString()
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <button type="button" id="testShow" class="btn btn-outline-dark" onclick="click13('@item.Name', '@item.Channel', '@item.Start.ToShortTimeString()', '@item.Info', '@item.Start.ToShortDateString()' , '@item.Stop.ToShortTimeString()')">
                                        Info
                                    </button>
                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

        }
        <div class="col-sm-12 col-md-4 ">
            <div class="card bg-light mb-3">
                <div class="card-header text-center"><img src="https://vignette.wikia.nocookie.net/tvkanal/images/a/a7/TV3_%28SE%29.png/revision/latest?cb=20091205184104&path-prefix=da" height="50" /></div>
                <div class="card-body text-center table-responsive-lg">
                    <table class="table">


                        @foreach (var item in Model.TV3)
                        {
                            var modalname = item.Start;

                            <tr>
                                <td>
                                    @item.Start.ToShortTimeString()
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <button type="button" id="testShow" class="btn btn-outline-dark" onclick="click13('@item.Name', '@item.Channel', '@item.Start.ToShortTimeString()', '@item.Info', '@item.Start.ToShortDateString()' , '@item.Stop.ToShortTimeString()')">
                                        Info
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 ">
            <div class="card bg-light mb-3">
                <div class="card-header text-center"><img src="https://www.bjarekraft.se/app/uploads/2017/08/logo-TV4.png" height="32" /></div>
                <div class="card-body text-center table-responsive-lg">
                    <table class="table">


                        @foreach (var item in Model.TV4)
                        {

                            <tr>
                                <td>
                                    @item.Start.ToShortTimeString()
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <button type="button" id="testShow" class="btn btn-outline-dark" onclick="click13('@item.Name', '@item.Channel', '@item.Start.ToShortTimeString()', '@item.Info', '@item.Start.ToShortDateString()' , '@item.Stop.ToShortTimeString()')">
                                        Info
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 ">
            <div class="card bg-light mb-3">
                <div class="card-header text-center"><img src="https://new.static.tv.nu/100" height="40" /></div>
                <div class="card-body text-center table-responsive-lg">

                    <table class="table">


                        @foreach (var item in Model.TV6)
                        {
                            <tr>
                                <td>
                                    @item.Start.ToShortTimeString()
                                </td>
                                <td>
                                    @item.Name

                                </td>
                                <td>
                                    <button type="button" id="testShow" class="btn btn-outline-dark" onclick="click13('@item.Name', '@item.Channel', '@item.Start.ToShortTimeString()', '@item.Info', '@item.Start.ToShortDateString()' , '@item.Stop.ToShortTimeString()')">
                                        Info
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>


        

    </div>



