@model Uppgift4Interaktiva.Models.ViewModels.ChannelLists

@{
    ViewBag.Title = "Startpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<div class="row">
    <div class="col-md-3">
        <h2>@Html.DisplayFor(modelItem => Model.SVT1[0].Channel)</h2>
        <table class="table">

            @foreach (var item in Model.SVT1)
            {
                <tr>
                    <td>
                        @item.Start.ToShortTimeString()
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <p class="MyModal">@Html.ActionLink("Länkjävel", "Details", new { id = item.Id })</p>
                    </td>

                </tr>
            }
        </table>
    </div>

    <div class="col-md-3">
        <h2>@Html.DisplayFor(modelItem => Model.SVT2[0].Channel)</h2>
        <table class="table">

            @foreach (var item in Model.SVT2)
            {
                <tr>
                    <td>
                        @item.Start.ToShortTimeString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-3">
        <h2>@Html.DisplayFor(modelItem => Model.TV3[0].Channel)</h2>
        <table class="table">

            @foreach (var item in Model.TV3)
            {
                <tr>
                    <td>
                        @item.Start.ToShortTimeString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-3">
        <h2>@Html.DisplayFor(modelItem => Model.TV4[0].Channel)</h2>
        <table class="table">

            @foreach (var item in Model.TV4)
            {
                <tr>
                    <td>
                        @item.Start.ToShortTimeString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-3">
        <h2>@Html.DisplayFor(modelItem => Model.TV6[0].Channel)</h2>
        <table class="table">

            @foreach (var item in Model.TV6)
            {
                <tr>
                    <td>
                        @item.Start.ToShortTimeString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </table>
    </div>

    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>

