@model Uppgift4Interaktiva.Models.ViewModels.ChannelLists

@{
    ViewBag.Title = "Startpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    function click13(name, channel, time, info, date, endtime) {


        bootbox.alert({
            message:
                '<h1>' + name + '</h1>' +
                '<b>Kanal: </b>' + channel + '</br>' +
                '<b>Datum: </b>' + date + '</br>' +
                '<b>Börjar: </b>' + time + '</br>' +
                '<b>Slutar: </b>' + endtime + '</br></br>' +
                '<b>Programinfo: </b></br>' + '<small>' + info + '</small>',





            callback: function (result) {
                console.log('This was logged in the callback: ' + result);
            }
        });



    }
</script>

<div class="mr-lg-5 ml-lg-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Content/img/pa_sparet.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    @{ var påspåret = (from p in Model.AllShows.Where(x => x.Name == "På Spåret           ") select p).ToList();                     
                        <a href="@Url.Action("Details", new { id = påspåret[0].Id })" style="color: #F0F8FF;">
                    <h2 style="text-shadow: 2px 2px black">@påspåret[0].Name.ToString()</h2></a>
                        <p>Lorum Ipsum</p>
                    }
                </div>
            </div> 
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/img/lyxfallan.png" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        @{ var lxfallan = (from p in Model.AllShows.Where(x => x.Name == "Lyxfällan           ") select p).ToList();
                            <a href="@Url.Action("Details", new { id = lxfallan[0].Id })" style="color: #F0F8FF;">
                                <h2 style="text-shadow: 2px 2px black">@lxfallan[0].Name.ToString()</h2>
                            </a>
                            <p>Lorum Ipsum</p>
                        }
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/img/fragalund.png" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        @{ var fragalund = (from p in Model.AllShows.Where(x => x.Name == "Fråga Lund          ") select p).ToList();
                            <a href="@Url.Action("Details", new { id = fragalund[0].Id })" style="color: #F0F8FF;">
                                <h2 style="text-shadow: 2px 2px black">@fragalund[0].Name.ToString()</h2>
                            </a>
                            <p>Lorum Ipsum</p>
                        }
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/img/leifobill.png" alt="Third slide"> 
                    <div class="carousel-caption d-none d-md-block">
                        @{ var leifobilly = (from p in Model.AllShows.Where(x => x.Name == "Leif och Billy      ") select p).ToList();
                            <a href="@Url.Action("Details", new { id = leifobilly[0].Id })" style="color: #F0F8FF;">
                                <h2 style="text-shadow: 2px 2px black">@leifobilly[0].Name.ToString()</h2>
                            </a>
                            <p>Lorum Ipsum</p>
                        }
                    </div>
                </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
</div>

@{
    var idagDate = new DateTime(2018, 11, 11);
    var imorrnDate = new DateTime(2018, 11, 12);
    var tisDate = new DateTime(2018, 11, 13);
    var onsDate = new DateTime(2018, 11, 14);
    var torsDate = new DateTime(2018, 11, 15);
    var freDate = new DateTime(2018, 11, 16);
    var lorDate = new DateTime(2018, 11, 17);
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@Url.Action("Startpage", "TvPrograms", new { selectedDT = idagDate })">Idag <small>11/11</small></a>
                <a class="nav-item nav-link" href="@Url.Action("Startpage", "TvPrograms", new { selectedDT = imorrnDate })">Imorgon <small>12/11</small></a>
                <a class="nav-item nav-link" href="@Url.Action("Startpage", "TvPrograms", new { selectedDT = tisDate })">Tis <small>13/11</small></a>
                <a class="nav-item nav-link" href="@Url.Action("Startpage", "TvPrograms", new { selectedDT = onsDate })">Ons <small>14/11</small></a>
                <a class="nav-item nav-link" href="@Url.Action("Startpage", "TvPrograms", new { selectedDT = torsDate })">Tor <small>15/11</small></a>
                <a class="nav-item nav-link" href="@Url.Action("Startpage", "TvPrograms", new { selectedDT = freDate })">Fre <small>16/11</small></a>
                <a class="nav-item nav-link" href="@Url.Action("Startpage", "TvPrograms", new { selectedDT = lorDate })">Lör <small>17/11</small></a>
            </div>

        </div>
    </nav>


    <div>
        <h1 class="text-center" id="dateHeader"></h1>
    </div>
    <script>
        var dt = @Model.ReturnDateTimeAsString(idagDate);
        $("#dateHeader").text(dt);
    </script>



}


    

    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4 ">
            <div class="card bg-light mb-3">
                <div class="card-header text-center"><a href="@Url.Action("Channel", "TvPrograms", new { channel = "SVT1" })"><img src="https://new.static.tv.nu/17274821" height="42" /></a></div>
                <div class="card-body text-center table-responsive-lg">

                    <table class="table">
                        @foreach (var item in Model.SVT1)
                        {
                            <tr>

                                <td>
                                    @item.Start.ToShortTimeString()
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <button type="button" id="testShow" class="btn btn-outline-dark" onclick="click13('@item.Name', '@item.Channel', '@item.Start.ToShortTimeString()', '@item.Info', '@item.Start.ToShortDateString()' , '@item.Stop.ToShortTimeString()')">
                                        Info
                                    </button>
                                </td>
                            </tr>

                        }
                    </table>

                </div>
            </div>
        </div>
           
        <div class="col-sm-12 col-md-6 col-xl-4 ">
            <div class="card bg-light mb-3">
                <div class="card-header text-center"><img src="https://new.static.tv.nu/17274919" height="42" /></div>
                <div class="card-body text-center table-responsive-lg">
                    <table class="table">


                        @foreach (var item in Model.SVT2)
                        {
                            <tr>
                                <td>
                                    @item.Start.ToShortTimeString()
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <button type="button" id="testShow" class="btn btn-outline-dark" onclick="click13('@item.Name', '@item.Channel', '@item.Start.ToShortTimeString()', '@item.Info', '@item.Start.ToShortDateString()' , '@item.Stop.ToShortTimeString()')">
                                        Info
                                    </button>
                                </td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

      
        <div class="col-sm-12 col-md-6 col-xl-4 ">
            <div class="card bg-light mb-3">
                <div class="card-header text-center"><img src="https://vignette.wikia.nocookie.net/tvkanal/images/a/a7/TV3_%28SE%29.png/revision/latest?cb=20091205184104&path-prefix=da" height="50" /></div>
                <div class="card-body text-center table-responsive-lg">
                    <table class="table">


                        @foreach (var item in Model.TV3)
                        {
                            var modalname = item.Start;

                            <tr>
                                <td>
                                    @item.Start.ToShortTimeString()
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <button type="button" id="testShow" class="btn btn-outline-dark" onclick="click13('@item.Name', '@item.Channel', '@item.Start.ToShortTimeString()', '@item.Info', '@item.Start.ToShortDateString()' , '@item.Stop.ToShortTimeString()')">
                                        Info
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4 ">
            <div class="card bg-light mb-3">
                <div class="card-header text-center"><img src="https://www.bjarekraft.se/app/uploads/2017/08/logo-TV4.png" height="32" /></div>
                <div class="card-body text-center table-responsive-lg">
                    <table class="table">


                        @foreach (var item in Model.TV4)
                        {

                            <tr>
                                <td>
                                    @item.Start.ToShortTimeString()
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <button type="button" id="testShow" class="btn btn-outline-dark" onclick="click13('@item.Name', '@item.Channel', '@item.Start.ToShortTimeString()', '@item.Info', '@item.Start.ToShortDateString()' , '@item.Stop.ToShortTimeString()')">
                                        Info
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center"><img src="https://new.static.tv.nu/100" height="40" /></div>
                <div class="card-body text-center table-responsive-lg">

                    <table class="table">


                        @foreach (var item in Model.TV6)
                        {
                            <tr>
                                <td>
                                    @item.Start.ToShortTimeString()
                                </td>
                                <td>
                                    @item.Name

                                </td>
                                <td>
                                    <button type="button" id="testShow" class="btn btn-outline-dark" onclick="click13('@item.Name', '@item.Channel', '@item.Start.ToShortTimeString()', '@item.Info', '@item.Start.ToShortDateString()' , '@item.Stop.ToShortTimeString()')">
                                        Info
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>


        

    </div>



