@model Uppgift4Interaktiva.Models.ViewModels.ChannelLists

@{
    ViewBag.Title = "Startpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<div class="row">

    <script>
        function createModal(url) {
            $('#modelContent').load(url);
            $('#myModal').modal('show');
        }
    </script>

    <div class="col-md-3">
        <h2>@Html.DisplayFor(modelItem => Model.SVT1[0].Channel)</h2>
        <table class="table">
            @foreach (var item in Model.SVT1)
            {
                <tr>
                    <td>
                        @item.Start.ToShortTimeString()
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @Html.ActionLink("Info", "Details", new { id = item.Id })
                    </td>
                    <td>
                        <button onclick="bootbox.alert('SKIT')"></button>
                    </td>
                </tr>
            }
        </table>
    </div>



    <div class="col-md-3">
        <h2>@Html.DisplayFor(modelItem => Model.SVT2[0].Channel)</h2>
        <table class="table">

            @foreach (var item in Model.SVT2)
            {
                <tr>
                    <td>
                        @item.Start.ToShortTimeString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-3">
        <h2>@Html.DisplayFor(modelItem => Model.TV3[0].Channel)</h2>
        <table class="table">

            @foreach (var item in Model.TV3)
            {
                <tr>
                    <td>
                        @item.Start.ToShortTimeString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-3">
        <h2>@Html.DisplayFor(modelItem => Model.TV4[0].Channel)</h2>
        <table class="table">

            @foreach (var item in Model.TV4)
            {
                <tr>
                    <td>
                        @item.Start.ToShortTimeString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-3">
        <h2>@Html.DisplayFor(modelItem => Model.TV6[0].Channel)</h2>
        <table class="table">

            @foreach (var item in Model.TV6)
            {
                <tr>
                    <td>
                        @item.Start.ToShortTimeString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </table>
    </div>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="modelContent">
            </div>
        </div>
    </div>

</div>



